<% if current_user != nil %>
  <%= form_for([@restaurant, @restaurant.comments.build]) do |f| %>
    <p>
      <%= f.text_area :content %>
      <%= f.hidden_field :name, :value => current_user.email %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% end %>
