<p id="notice"><%= notice %></p>

<h1>Split The Check?</h1>

<%= form_tag(restaurants_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :name, params[:name], placeholder: "Search By Name" %>
  <%= text_field_tag :location, params[:location], placeholder: "Search By Location" %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>State</th>
      <th>Will Split</th>
      <th>Won't Split</th>
      <% if user_signed_in? %>
        <th>Favorite</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.state %></td>
	<% if user_signed_in? %>
        <td class="button"><%= button_to restaurant.get_upvotes.size, will_split_restaurant_path(restaurant), method: :post %></td>
        <td class="button"><%= button_to restaurant.get_downvotes.size, wont_split_restaurant_path(restaurant), method: :post %></td>
	<% else %>
	<td><%= restaurant.get_upvotes.size %></td>
	<td><%= restaurant.get_downvotes.size %></td>
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.tag_list.include?(restaurant.name) %>
            <td class="button"><%= button_to "Unfavorite", tag_restaurant_path(restaurant), method: :post %></td>
          <% else %>
            <td class="button"><%= button_to "Favorite", tag_restaurant_path(restaurant), method: :post %></td>
	  <% end %>
        <% end %>
        <td><%= link_to "View", restaurant_path(restaurant) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Restaurant', new_restaurant_path %>
<% end %>
<%= link_to 'Back', restaurants_path %>

<br><br><br>

<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
  <%= link_to "History", summary_restaurants_path %>
<% else %>
  <%= link_to "Sing Up", new_user_registration_path %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>

