<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @restaurant.state %>
</p>

<p>
  <strong>Will split:</strong>
  <%= @restaurant.will_split %>
</p>

<p>
  <strong>Wont split:</strong>
  <%= @restaurant.wont_split %>
</p>

<%= render 'comments/comment' %>

<%= link_to 'Back', restaurants_path %>
