<p><strong>Summary For: </strong><%= @user %></p>

<p><strong>User Comments:</strong></p>
  <table>
    <thead>
      <tr>
        <th>Restaurant</th>
        <th>Comment</th>
        <th>Time</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |c| %>
        <tr>
          <td><b><%= link_to c.restaurant.name, restaurant_path(c.restaurant) %></b></td>
          <td><%= c.content %></td>
          <td><%= time_ago_in_words(c.created_at) %> ago</td>
        </tr>
      <% end %>
    </tbody>
  </table>

<p><strong>User Votes:</strong></p>
  <table>
    <thead>
      <tr>
        <th>Restaurant</th>
        <th>Will Split</th>
        <th>Won't Split</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @restaurants.each do |r| %>
        <% if r.votes_for.voters.include?(current_user) %>
          <tr>
            <td><b><%= link_to r.name, restaurant_path(r) %></b></td>
            <td><%= r.votes_for.up.size %></td>
            <td><%= r.votes_for.down.size %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<p><strong>User Favorites:</strong></p>
  <table>
    <thead>
      <tr>
        <th>Restaurant</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @restaurants.each do |r| %>
        <% if current_user.tag_list.include?(r.name) %>
          <tr>
            <td><% r.name %></td>
            <td><% r.address %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>


<% if user_signed_in? %>
  <%= link_to 'New Restaurant', new_restaurant_path %>
<% end %>
<%= link_to 'Back', restaurants_path %>

<br><br><br>

<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, :method => :delete %>

<% else %>
  <%= link_to "Sing Up", new_user_registration_path %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>

