// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header {
  width: 100%;
  height: 140px;
  background: #FF5733;
  }
.list_line_even {
    background: #ff5733;
  }
.list_line_odd {
    background: #EAECEE;
  }
.title {
  padding-left: 2em;
  }
