<!DOCTYPE html>
<html>
  <head>
    <title>Split The Check?!?</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="header">
    <br>
    <h1 class="title">Split The Check!?!</h1>
    <h2 class="title">Vote if your restaurants will split the check for you</h2>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
